
.wrapper {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  .wrapper .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #33cc33;
    margin: auto;
    transform: scale(1, 1);
  }
  .wrapper .circle.pulse {
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
    background-color: #99e699;
  }
  .wrapper svg {
    fill: #279b27;
    stroke: #279b27;
    stroke-linejoin: round;
    stroke-width: 5;
    transition: all 0.3s;
  }
  .wrapper svg:hover {
    cursor: pointer;
    fill: #228722;
    stroke: #228722;
    transform: scale(1.2, 1.2);
  }
  
  @-webkit-keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  